@CHARSET "ISO-8859-1";

body { /*Colocando la imagen de linea gris superior en la página*/
	background-image: url("../../images/lineaGris.png");
	background-repeat: repeat-x;
}
/*NOTA: Estilo para quitar borde y estilo a los botones*/
/*Quitando el estilo de fondo y bordes*/
.btnM {
	border-style: none !important;
	background-color: transparent;
	height: 20px !important;
	padding: 0 !important;
	cursor: pointer;
}
/*----------------------------------------------------------------------------*/
.pnlContentBody {
	font-family: sans-serif;
	margin: 0 auto;
	min-height: 600px;
	height: 100%;
	width: 100%;
}
/*------------------------------*/
/*Región de cabecera*/
/*------------------------------*/
.headerStructure {
	/*background-color: red;*/
	border-style: none;
	color: white;
	position: relative;
	height: 50px;
	width: 100%;
}

.imgLogoUI {
	position: fixed;
	bottom: 100px;
	left: 350px;
}

.imgLogoBoton {
	background-color: transparent;
	border-style: none;
	cursor: pointer;
}

.divInclude {
	background-color: #404041;;
	position: absolute;
	bottom: 0px;
	left: 180px;
	height: 40px !important;
	width: 810px;
}
/*------------------------------*/
/*Region central de la página*/
/*------------------------------*/
.divWest,.divCenter {
	float: left;
	min-height: 650px;
}

.divEast {
	float: right;
}
/*----------------------------*/
.divContentCenter {
	/*background-color: green;*/
	float: left;
	width: 990px;
	overflow: hidden;
}
/*NOTA: Sección contenedora la región central y derecha*/
.divContentCenterEast {
	/*background-color:red;*/
	background-image: url("../../images/barraCentral.png");
	float: left;
	width: 810px;
	overflow: hidden;
}

.divWest {
	/*background-color:yellow;*/
	width: 180px;
}

.divCenter {
	/*background-image:url("../../images/base.png");*/
	background-color: #E6E6E6;
	border-left-style: none;
	border-color: #6C6D6F;
	padding-bottom: 20px;
	width: 550px;
	height: auto;
}

.divEast {
	/*background-color:fuchsia;*/
	/*float:left;*/
	width: 238px;
}

.divFooter {
	background-color: orange;
	clear: both;
	float: none;
	height: 50px;
	padding-top: 10px;
	width: 100%;
}

/* --------------------##
	Pagina Wizard
-----------------------##*/
.txtGraySmall {
	color: #ABABAB;
	font-size: 9pt;
}

.contentCenterWizard {
	background-color: #E6E6E6;
	padding-top: 4%;
	min-height: 650px !important;
}

.contentCenterWizard .contentInfo {
	width: 60%;
	margin: 0 auto;
}

.contentInfo .noPaso {
	margin-left: 190px;
}

.lblNombreUsuario {
	display: block !important;
	font-weight: bold;
}

.vlyCorreoUsuario .z-vlayout-inner {
	margin: 5px 0px;
}

/*Page Paso 2*/
.contentleyendaPaso2 .txtInformativo {
	display: block !important;
	letter-spacing: 1px;
	width: 70%;
}

.noCertificacion {
	margin-top: 15px;
}

.z-tabbox { &-icon { .iconFontStyle(12px, #FFFFFF);
	min-height: 48px;
	padding: 0;
	line-height: 46px;
	/* omitted */
	>
	i
	{
	.opacity(1); /* remove opacity */
}

&
:hover {
	color: #FFFFFF;
}

}
&
-left-scroll, &-right-scroll {
	width: 48px;
}

&
-up-scroll, &-down-scroll {
	height: 48px;
}

&
-scroll { > .z-tabs { margin:048px;
	
}

}
}
.z-tab {
	font-size: 16px;
	/* omitted */
	&
	-icon
	{
	position
	:
	static;
	/* position decided by .z-tab-button, change it from absolute to static */
	/* omitted */
}

&
-text {
	color: #FFFFFF;
	padding: 7px 12px; /* expand height to 48px by padding */
	line-height: 32px;
	/* omitted */
}

&
-button { .iconFontStyle (12px, #FFFFFF); .displaySize (block, 24px,
	24px);
	margin-top: -12px; /* for put icon in vertical middle position */
	line-height: 24px; . opacity (1); /* remove opacity effect */
	top: 50%; /* for put icon in vertical middle position */
	right: 8px; /* refer to horizontal padding */
	/* omitted */ &: hover { color : #5687A8;
	background: #FFFFFF;
}

&
+
.z-tab-text {
	margin-right: 32px;
}

}
&
-selected {
	/* omitted */ .z-tab-text { font-weight:bold;
	color: #5687A8;
}

}
&
-disabled {
	background: #ACACAC;
	.
	opacity
	(1);
	/* omitted */
	&:
	hover
	{
	.verGradient(#ACACAC,
	#ACACAC);
}

.z-tab-button:hover { .opacity (1);
	
}

.z-tab-text {
	color: #FFFFFF;
	.
	opacity
	(1);
	/* omitted */
}

}
}
.z-tabbox { &-accordion {
	/* omitted */ .z-tabpanel > .z-tab {
	/* omitted */ &-selected {
	/* omitted */ .z-tab-text { color:#FFFFFF;
	
}

}
}
.z-tab-button { .opacity (1); /* remove opacity effect */ &:hover {
	color:#5687A8;
	
}
/* omitted */
}
.z-tab-text {
	padding: 7px 8px; /* expand height to 48px by padding */
}
}
}